<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
                <link rel="icon" href="/img/download.png">
                <title>About Me</title>
    </head>
    <body>
                <div class="main-content">
        {{>header}}
        <img class="portait" src="/img/profilePicture.png">
                </div>
        {{>footer}}
    </body>
</html>